@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  font-family: "Raleway";
}
.carousel .carousel-item {
  transition-duration: 1.5s;
}
.bg-scroll {
  background: transparent !important;
}
.bg-scroll.scrolled {
  background: rgb(43, 190, 75) !important;
  box-shadow: 0px 0px 17px 0px;
  transition: all 0.5s;
}

.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  background: #f4f4f4;
  color: rgb(43, 190, 75);
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}
.navbar-collapse {
  justify-content: flex-end;
}
.bg-dark {
  background-color: #343a40 !important;
}
.bg-primary {
  background-color: #007bff !important;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.3;
  transition: all 0.2s ease-out;
}
/*----- carousel slidder ----*/
.carousel slide {
  height: 500px;
  width: 100vh;
  color: white;
  text-align: center;
}
.carousel-caption {
  position: absolute;
  top: 20%;
  margin: auto;
  padding: 2em;
}
.carousel-caption h5 {
  color: #f97300;
  font-size: 70px;
  line-height: 1.5;
}
.carousel-caption p {
  color: white;
  font-size: 30px;
  width: 50%;
  line-height: 1.5;
}
.carousel-caption a {
  padding: 10px 40px;
  margin-right: 10px;
}
.carousel-caption a.btn-orange {
  background-color: #f97300;
  color: white;
  transition: 0.5s ease-in;
}
.carousel-caption a.btn-orange:hover {
  opacity: 0.9;
  background-color: darkblue;
}
.carousel-caption a.btn-blue {
  background-color: deepskyblue;
  color: white;
  transition: 0.5s ease-in;
}
.carousel-caption a.btn-blue:hover {
  opacity: 0.9;
  background-color: darkblue;
}
.img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), (0, 0, 0, 0.7)),
    url(assets/Images/microloans.jpg);
  background-size: 100% 100%;
}
.carousel-caption i {
  font-size: 80px;
  margin-right: 20px;
}

/* ---about us section ----*/
.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}
.description h1 {
  color: #f97300;
}
.description p {
  color: #666;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}
.description button {
  border: 1px solid #f97300;
  background: #f97300;
  color: #fff;
}
.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}
.about h1 {
  color: #f97300;
  margin: 2em;
}
.about img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.about span {
  display: block;
  color: #888;
  position: absolute;
  left: 115px;
}
.about .desc {
  padding: 2em;
  border-left: 4px solid #10828c;
}
.about .desc h3 {
  color: #10828c;
}
.about .desc p {
  line-height: 2;
  color: #888;
}
.portfolio {
  margin: 4em 0;
  position: relative;
}
.portfolio h1 {
  color: #f97300;
  margin: 2em;
}
.portfolio img {
  height: 15rem;
  width: 100%;
  margin: 1em;
}
.blog {
  margin: 4em 0;
  position: relative;
}
.blog h1 {
  color: #f97300;
  margin: 2em;
}
.blog .card {
  box-shadow: 0 0 20px #ccc;
}
.blog .card img {
  width: 100%;
  height: 12em;
}
.blog .card-title {
  color: #f97300;
}
.blog .card-body {
  padding: 1em;
}
.team {
  margin: 4em 0;
  position: relative;
}
.team h1 {
  color: #f97300;
  margin: 2em;
}
.team .item {
  position: relative;
}
.team .des {
  background: #f97300;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 93%;
  transition: 0.3s ease-in-out;
}
.team .item:hover .des {
  height: 100%;
  background: #f973007d;
  position: absolute;
  width: 89%;
  padding: 5em;
  top: 0;
  border-bottom-left-radius: 0;
}
.intro-area {
  position: relative;
  padding: 70px 0px;
  text-align: center;
}
.sub-heading {
  position: relative;
  margin-bottom: 75px;
}
.sub-heading:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -3%;
  width: 6%;
  height: 1 px;
  background-color: rgb(43, 190, 75);
  z-index: 1;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.sub-heading:hover:before {
  width: 24%;
  margin-left: 12px;
}
.sub-heading:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -13%;
  width: 24%;
  height: 1 px;
  background-color: #e1e1e1;
  z-index: 1;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.sub-heading p {
  color: #818181;
  display: flex;
  padding: 0px 0px 26px;
  position: relative;
  line-height: 24px;
  letter-spacing: 0.025em;
}
/*-----------services ----------*/
.intro-block {
  position: relative;
  background: #f7f7f7;
  margin: 20px 0px 20px;
  padding: 70px 25px 40px;
}
.intro-block:hover,
.intro-block:active {
  background: rgb(43, 190, 75);
}
.intro-block:hover {
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
}
.intro-block .intro-icon,
.feature-block .feature-icon {
  position: absolute;
  top: -31px;
  left: 50px;
  margin-left: 30px;
}

.intro-block .fa,
.feature-block .fa {
  width: 63px;
  height: 63px;
  font-size: 30px;
  color: white;
  line-height: 2;
  background: rgb(43, 190, 75);
  border-radius: 50%;
  box-shadow: 0px 0px 10px #cceef9;
}
.intro-block:hover .fa,
.intro-block.active .fa {
  background: white;
  color: rgb(43, 190, 75);
  box-shadow: 0px 0px 10px rgb(43, 190, 75);
}
.intro-block h3 {
  font-size: 18px;
  color: rgb(43, 190, 75);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.intro-block p {
  color: #505050;
}
.intro-block:hover h3,
.intro-block:hover p {
  color: #f6f6f6;
}
.intro-area h2 {
  color: rgb(43, 190, 75);
}

/*--------vision mission --------section*/
.feature-area {
  margin-top: 100px;
  padding-top: 50px;
  background-image: linear-gradient(
      rgba(131, 130, 130, 0.829),
      rgba(131, 130, 130, 0.829)
    ),
    url(/assets/Images/background2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.title h2,
p {
  color: white;
}
.title .sub-heading p {
  color: #f3f3f3;
  border-color: deepskyblue;
}
.feature-block h3,
li {
  color: #f3f3f3;
}
.feature-block {
  position: relative;
  margin: 20px 0px 20px;
  padding: 70px 25px 40px;
  border: 1px solid rgb(43, 190, 75);
}
.feature-block li,
p {
  text-align: left;
}
